/* h1{
    font-size: 30px;
    color: blue;
} */
@media (max-width: 600px) {
    /* h1{
        font-size: 6px;
        color: tan;
    } */
}

@media (orientation: landscape) and (max-width: 800px) {
    /* h1{
        color: green;
    } */
}

body{
    font-family: merriweather-regular-italic;
}

@media (max-width: 600px){
    .card{
        width: 100%;
        display: block;
        text-align: justify;
    }
}


.left-section{
    float: left;

}

.left-section img{
    object-fit: cover;
}

.right-section{
    float: right;
}

.right-section img{
    object-fit: cover;
}